In [21]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbour in neighbours:
                queue.append(neighbour)
    return visited

In [22]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim', 'Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [27]:
#O amin -------------
#|          |        |
#O wasim    O nick   O mike
#|
#O imran
#|
#O faras

bfs(graph,'Amin')

['Amin', 'Nick', 'Wasim', 'Mike', 'Imran', 'Faras']

In [24]:
#O wasim ----
#|          |        
#O imran    O amin ----   
#|          |          |
#O faras    O nick      O mike

bfs(graph,'Wasim')

['Wasim', 'Amin', 'Imran', 'Nick', 'Mike', 'Faras']

In [25]:
#O faras
#|               
#O imran    
#|          
#O wasim    O nick      O mike
#|          |           |
#O amin ----------------

bfs(graph,'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Nick', 'Mike']

In [58]:
graph={'Rektor' : {'Warek 1', 'Warek 2'},
       'Warek 1' : {'Rektor'},
       'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
       'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
       'Kaprodi 2' : {'Dosen D', 'Dosen E'},
       'Kaprodi 3' : {'Dosen F', 'Dosen G'},
       'Dosen G'   : {'Dosen F'},
       'Dosen E'  : {'Dosen D'},
       'Dosen C'  : {'Dosen B'},
       'Dosen B'  : {'Dosen A'},
       'Dosen A'  : {'Kaprodi 1'},
       'Dosen D'  : {'Kaprodi 2'},
       'Dosen F'  : {'Kaprodi 3'}}

In [59]:
bfs(graph,'Rektor')

['Rektor',
 'Warek 2',
 'Warek 1',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen C',
 'Dosen B',
 'Dosen A',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G']

In [60]:
bfs(graph,'Warek 1')

['Warek 1',
 'Rektor',
 'Warek 2',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Dosen C',
 'Dosen B',
 'Dosen A',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G']

In [61]:
def dfs(graph, start, visited=None):
    if visited is None:
        visited = set()
    visited.add(start)
    print(start)
    for next in graph[start] - visited:
          dfs(graph, next, visited)
    return visited

In [65]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
          'Wasim' : {'Imran', 'Amin'},
          'Imran' : {'Wasim', 'Faras'},
          'Faras' : {'Imran'},
          'Mike' :{'Amin'},
          'Nick' :{'Amin'}}

In [66]:
#O amin -------------
#|          |        |
#O wasim    O nick   O mike
#|
#O imran
#|
#O faras
#
#turun dari amin ke faras, geser ke nick & mike

dfs(graph, 'Amin')

Amin
Nick
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [67]:
#O amin -------------
#|          |        |
#O wasim    O nick   O mike
#|
#O imran
#|
#O faras
#turun dari wasim ke faras, naik ke amin, geser ke nick & mike

dfs(graph, 'Wasim')

Wasim
Amin
Nick
Mike
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [68]:
#O amin -------------
#|          |        |
#O wasim    O nick   O mike
#|
#O imran
#|
#faras
#naik dari faras ke amin, geser ke nick & mike

dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Nick
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [69]:
#O amin -------------
#|          |        |
#O wasim    O nick   O mike
#|
#O imran
#|
#faras
#naik nick ke amin, turun ke faras, geser ke mike

dfs(graph, 'Nick')

Nick
Amin
Wasim
Imran
Faras
Mike

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [70]:
graph={'Rektor' : {'Warek 1', 'Warek 2'},
       'Warek 1' : {'Rektor'},
       'Warek 2' : {'Kaprodi 1', 'Kaprodi 2', 'Kaprodi 3'},
       'Kaprodi 1' : {'Dosen A', 'Dosen B', 'Dosen C'},
       'Kaprodi 2' : {'Dosen D', 'Dosen E'},
       'Kaprodi 3' : {'Dosen F', 'Dosen G'},
       'Dosen G'   : {'Dosen F'},
       'Dosen E'  : {'Dosen D'},
       'Dosen C'  : {'Dosen B'},
       'Dosen B'  : {'Dosen A'},
       'Dosen A'  : {'Kaprodi 1'},
       'Dosen D'  : {'Kaprodi 2'},
       'Dosen F'  : {'Kaprodi 3'}}

In [71]:
dfs(graph, 'Rektor')

Rektor
Warek 2
Kaprodi 1
Dosen C
Dosen B
Dosen A
Dosen B
Dosen A
Kaprodi 2
Dosen E
Dosen D
Dosen D
Kaprodi 3
Dosen F
Dosen G
Warek 1

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi 1',
 'Kaprodi 2',
 'Kaprodi 3',
 'Rektor',
 'Warek 1',
 'Warek 2'}